<div>
    <app-pagetitle></app-pagetitle>
</div>

<div class="input-group container">
    <form [formGroup]="customerDetails">
        <div class="input-group-prepend"> <label> First Name: <input type="text" class="form-control"
                    formControlName="FirstName"></label>
        </div>
        <br>
        <div class="input-group-prepend"> <label> Last Name: <input type="text" class="form-control"
                    formControlName="LastName"></label>
        </div>
        <br>
        <div class="input-group-prepend"> <label> Gender : <select class="custom-select" formControlName="Gender"
                    id="inputGroupSelect02">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select></label>
        </div>
        <br>
        <div class="input-group-prepend"> <label> Email: <input type="email" class="form-control"
                    formControlName="Email"></label>
        </div>
        <br>
        <div class="input-group-prepend"> <label> Address:<textarea class="form-control" formControlName="Address">

    </textarea></label>
        </div>
        <br>
        <div class="input-group-prepend"> <label> State:<select ngModel (ngModelChange)="getDistricts($event)"
                    class="form-control" formControlName="State">
                    <option *ngFor="let state of states" [value]="state">{{state}}
                    </option>
                </select>
            </label>
        </div>
        <br>
        <div class="input-group-prepend"> <label> District: <select class="form-control" formControlName="District">
                    <option *ngFor="let district of districts" [value]="district">{{district}}
                    </option>
                </select>
            </label>
        </div>
        <br><br>

        <p>
            <button class="btn btn-danger" style=" margin-right: 10%;" routerLink=''> Back
            </button>
            <button class="btn btn-primary" [disabled]="!customerDetails.valid" (click)="updateProfile()">Create
                User</button>
        </p>

    </form>

</div>

<ngx-spinner bgColor="rgba(255,255,255,0.8)" size="2rem" color="#21e432" type="ball-scale-multiple">
    <p style="font-size: 20px; color: black">Loading...</p>
</ngx-spinner>