<div class="container">
    <input type="text" class="form-control" placeholder="Customer ID" [(ngModel)]="SearchCustomer">
    <button routerLink='add' class="btn btn-primary button">Add
        Customer</button>
</div>
<br><br><br>
<div class="container" *ngFor="let customer of customers">
    <mat-card>
        <mat-card-title> {{customer.FirstName +' '+ customer.LastName + " ("+customer.CustomerID+") "}}
            <img class="trash" src="https://img.icons8.com/carbon-copy/100/000000/full-trash.png" (click)="deleteCustomers(customer.CustomerID)" width="25" height="25" data-toggle="tooltip" title="Remove Customer!" />
        </mat-card-title>

        <mat-card-content>
            <div class=" email ">
                Email: {{customer.Email}}
            </div>
            <div class=" gender ">
                Gender: {{customer.Gender}}
            </div>
        </mat-card-content>

        <br>

        <mat-card-content>
            <div class=" esclations ">Escalation: {{customer.Escalation}}</div>
            <div class=" appretiaitons ">Appreciations: {{customer.Appreciations}} </div>
        </mat-card-content>
    </mat-card>
    <br>
</div>