<div class="container" style="
    position: absolute;">
    <input type="number" class="form-control" placeholder="Customer ID" [(ngModel)]="SearchCustomer">
    <button routerLink='add' class="btn btn-primary button">Add
        Customer</button>
</div>
<br><br><br>
<mat-tab-group>
    <br>
    <mat-tab label="Card View">
        <br>
        <div class="container" *ngFor="let customer of customers | cidFilter : SearchCustomer">
            <mat-card>
                <mat-card-title class="title">
                    {{customer.FirstName +' '+ customer.LastName}}
                    <img class="trash" src="https://img.icons8.com/carbon-copy/100/000000/full-trash.png" (click)="openCnfDialogue(customer.CustomerID)" width="25" height="25" data-toggle="tooltip" title="Remove Customer!" />
                </mat-card-title>
                <mat-card-subtitle routerLink='view/{{customer.CustomerID}}' class="title"> {{customer.CustomerID}}
                </mat-card-subtitle>
                <mat-card-content>
                    <div class=" email ">
                        Email: {{customer.Email}}
                    </div>
                    <div class=" gender ">
                        Gender: {{customer.Gender}}
                    </div>
                </mat-card-content>
                <br>
                <mat-card-footer>
                    <div class=" esclations "><i class="fas fa-thumbs-down"></i> {{customer.Escalation}}</div>
                    <div class=" appretiaitons "><i class="fas fa-thumbs-up"></i> {{customer.Appreciations}} </div>
                </mat-card-footer>
            </mat-card>
            <br>
        </div>
    </mat-tab>
    <mat-tab label="Accordian View">
        <br>
        <div class="accordian">
            <mat-accordion *ngFor="let customer of customers | cidFilter : SearchCustomer">
                <mat-expansion-panel [expanded]=false>
                    <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight: bold;">
                            {{customer.FirstName +" " + customer.LastName}}
                        </mat-panel-title>
                        <mat-panel-description style="position: absolute; margin-left: 25em;" routerLink='view/{{customer.CustomerID}}'>
                            {{customer.CustomerID}}
                        </mat-panel-description>
                        <mat-panel-description>
                            <img class="trash" style="margin-left: 50em; " src="https://img.icons8.com/carbon-copy/100/000000/full-trash.png" (click)="openCnfDialogue(customer.CustomerID)" width="25" height="25" data-toggle="tooltip" title="Remove Customer!" />
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class=" email">
                        Email: {{customer.Email}}
                    </div>
                    <div class=" gender">
                        Gender: {{customer.Gender}}
                    </div>
                    <br>
                    <div class="esclations"><i class="fas fa-thumbs-down"></i> {{customer.Escalation}}</div>
                    <div class="appretiaitons"><i class="fas fa-thumbs-up"></i> {{customer.Appreciations}} </div>

                </mat-expansion-panel>
                <br>
            </mat-accordion>
        </div>
    </mat-tab>
</mat-tab-group>

<ngx-spinner bgColor="rgba(255,255,255,0.8)" size="2rem" color="#21e432" type="ball-scale-multiple">
    <p style="font-size: 20px; color: black">Loading...</p>
</ngx-spinner>

<!-- <mat-paginator class="pagination" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
</mat-paginator> -->