<div class="container">
    <input type="number" class="form-control" placeholder="Customer ID" [(ngModel)]="SearchCustomer">
    <button routerLink='add' class="btn btn-primary button">Add
        Customer</button>
</div>
<br><br><br>
<div class="container" *ngFor="let customer of customers | cidFilter : SearchCustomer">
    <mat-card>
        <mat-card-title> {{customer.FirstName +' '+ customer.LastName + " ("+customer.CustomerID+") "}}
            <img class="trash" src="https://img.icons8.com/carbon-copy/100/000000/full-trash.png" (click)="openCnfDialogue(customer.CustomerID)" width="25" height="25" data-toggle="tooltip" title="Remove Customer!" />
        </mat-card-title>

        <mat-card-content>
            <div class=" email ">
                Email: {{customer.Email}}
            </div>
            <div class=" gender ">
                Gender: {{customer.Gender}}
            </div>
        </mat-card-content>
        <br>
        <mat-card-content>
            <div class=" esclations "><i class="far fa-thumbs-down"></i> {{customer.Escalation}}</div>
            <div class=" appretiaitons "><i class="fas fa-thumbs-up"></i> {{customer.Appreciations}} </div>
        </mat-card-content>
    </mat-card>
    <br>
</div>
<ngx-spinner bgColor="rgba(255,255,255,0.8)" size="2rem" color="#21e432" type="ball-scale-multiple">
    <p style="font-size: 20px; color: black">Loading...</p>
</ngx-spinner>