    .button {
        color: white;
        font-weight: bolder;
        float: right;
    }
    
    .form-control {
        max-width: 50em;
        margin-left: 2em;
        position: relative;
    }
    
    input {
        float: left;
    }
    
    .esclations {
        color: red;
        float: left;
        margin-left: 1em;
    }
    
    .appretiaitons {
        color: green;
        float: right;
        margin-right: 1em;
    }
    
    .card {
        font-weight: bold;
        background-color: white;
        border-radius: 1em;
        border: 0 solid skyblue;
        transition: transform .5s;
        padding-bottom: 2.5em;
        margin-bottom: 1em;
    }
    
    .card:hover {
        font-weight: bold;
        padding-bottom: 2.5em;
        background-color: white;
        border-radius: 1em;
        border: none;
        box-shadow: grey;
        text-shadow: black;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    }
    
    .email {
        float: left;
        font-weight: bold;
    }
    
    .gender {
        float: right;
        font-weight: bold;
    }
    
    .trash {
        float: right;
        cursor: pointer;
    }
    
    .comment {
        font-weight: bold;
        margin-left: 36em;
        color: cadetblue;
    }
    
    .title {
        cursor: pointer;
    }
    
    .pagination {
        position: absolute;
        bottom: 1em;
        float: center;
        background-color: #C9E6FF;
        font-weight: bold;
    }
    
    .accordian {
        margin-left: 14em;
        margin-right: 12em;
    }