<div class=" row">
    <div class="col-md-6">
        <div class="card login" (click)="onLoginCLick()">
            <img src="../../assets/Login.png" alt="Sign-Up" style="width:100%">
            <div class="container">
                <h4><b>Log In</b></h4>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card signup" (click)="onSignupClick()">
            <img src="../../assets/Signup.png" alt="Login" style="width:52%">
            <div class="container">
                <h4><b>Register</b></h4>
            </div>
        </div>
    </div>
</div>