<div class="col-md-6 placeholder">
    <div class=" card" (click)="onLoginCLick()">
        <img src="../../assets/Login.png" alt="Sign-Up" style="width:100%">
        <div class="container">
            <h4><b>Log In</b></h4>
        </div>
    </div>
</div>
<br>
<!-- <div class="col-md-4 placeholder">
    <div class="card" (click)="onSignupClick()">
        <img src="../../assets/Signup.png" alt="Login" style="width: 53%; margin-left: 1.5em">
        <div class="container">
            <h4><b>Register</b></h4>
        </div>
    </div>
</div> -->
<br>
<div class="col-md-6 placeholder">
    <div class="card" (click)="onAdminClick()">
        <img src="../../assets/admin.png" alt="Login" style="width: 53%; margin-left: 1.5em">
        <div class="container">
            <h4><b>Admin</b></h4>
        </div>
    </div>
</div>