.display {
    margin: 17em;
    color: White;
    font-size: 150%;
    font-weight: bolder;
    text-align: center;
}

.background {
    height: 100%;
    background-color: #337ab7;
}

.date {
    margin: 1em;
    color: White;
    font-weight: bold;
    text-align: left;
}

.time {
    margin: 1em;
    color: white;
    font-weight: bold;
    text-align: right;
}

.fa-user {
    margin: 0.4em;
    font-size: 100% !important;
}