<mat-accordion>
    <mat-expansion-panel [expanded]=true hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b> Name:&nbsp; </b> {{customer?.FirstName +" " + customer?.LastName}}
            </mat-panel-title>
            <mat-panel-description>
                <b> Customer ID:&nbsp; </b> {{customer?.CustomerID}}
            </mat-panel-description>
            <mat-panel-description>
                <b> Email:&nbsp; </b> {{customer?.Email}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row"> Address:</th>
                        <td>{{customer?.Address + " ," + customer?.District + " ," + customer?.State}}</td>
                    </tr>
                    <tr>
                        <th scope="row"> Gender:
                        </th>
                        <td>{{customer?.Gender}}</td>
                    </tr>
                    <tr>
                        <th scope="row"> <i class="fas fa-thumbs-down" style="color: red;"></i> Escalations Done:</th>
                        <td>{{customer?.Escalation}}</td>
                    </tr>
                    <tr>
                        <th scope="row"> <i class="fas fa-thumbs-up" style=" color:chartreuse;"></i> Appreciations
                            Received:
                        </th>
                        <td>{{customer?.Appreciations}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Comments:
                        </th>
                        <td>
                            <div *ngFor="let comment of customer?.Comments">
                                <div style="float: left;">{{comment.Message}}</div>
                                <div style="float: rignt; margin-left: 50em;">{{comment.Time}}
                                    <i class="fas fa-thumbtack" [ngClass]="comment.Pinned? 'pinned' :'unpin'"
                                        title="{{getMessage(comment.Pinned)}} Comment"
                                        (click)="onPinClick(comment)"></i>
                                    <i class="far fa-trash-alt trash" title="Delete Comment"
                                        (click)="onDeleteClick(comment)"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-action-row>
            <button type="button" class="btn btn-info" style="float: left; margin-right: 88em;"
                (click)="backClick()">Back</button>
            <button type="button" class="btn btn-warning" style="color: white; font-weight: bokd;"
                (click)="onEditClick()">Edit</button>
        </mat-action-row>

    </mat-expansion-panel>

</mat-accordion>

<ngx-spinner bgColor="rgba(255,255,255,0.8)" size="2rem" color="#21e432" type="ball-scale-multiple">
    <p style="font-size: 20px; color: black">Loading...</p>
</ngx-spinner>