<div><button type="button" class="btn btn-info back" style="margin-left: 6em;" (click)="GoBack()">Back </button>
    <mat-form-field>
        <input matInput style="margin-left: 1em;" (keyup)="applyFilter($event)" placeholder="Search">
    </mat-form-field>
    <i class="fa fa-plus-circle add" aria-hidden="true" (click)="OpenNewUser()"></i>

    <table mat-table [dataSource]="UsersData" matSort class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element">
                {{element.Name}} <i class="fas fa-users-cog" *ngIf="element.IsAdmin" style="color: cornflowerblue;"></i>
            </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email ID </th>
            <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>

        <!-- Password Column -->
        <ng-container matColumnDef="Password">
            <th mat-header-cell *matHeaderCellDef> Password </th>
            <td mat-cell *matCellDef="let element"> {{element.Password}} </td>
        </ng-container>

        <!-- DOB Column -->
        <ng-container matColumnDef="DOB">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Birth </th>
            <td mat-cell *matCellDef="let element"> {{element.DOB}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let element">
                <i class="far fa-times-circle cross" (click)="onDeleteClick(element)"></i>
                <i class="fas fa-edit modify" (click)="OpenEditUser(element)"></i>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<ngx-spinner bgColor="rgba(255,255,255,0.8)" size="2rem" color="#21e432" type="ball-scale-multiple">
    <p style="font-size: 20px; color: black">Loading...</p>
</ngx-spinner>