<div class="input-group">
    <form [formGroup]="loginDetails" class="form">
        <div *ngIf="showMessage">
            <p style="color: red;"><i class="far fa-times-circle"></i> Invalid user. Please try again.</p>
        </div>
        <div *ngIf="nonAdminMessage">
            <p style="color: red;"><i class="far fa-times-circle"></i> Not an Admin.</p>
        </div>
        <br>
        <div class="input-group-prepend"> <label> Email ID: <input type="email" class="form-control"
                    style="min-width: 17em;" formControlName="Email"></label>
        </div>
        <br>
        <div class="input-group-prepend"> <label> Password: <input type="password" class="form-control"
                    style="min-width: 17em;" formControlName="Password"></label>
        </div>
        <br>
        <p>
            <button class="btn btn-info" style="margin-right: 4%;  min-width: 8em;" (click)="backClick()"> Back
            </button>
            <button class="btn btn-success" [disabled]="!loginDetails.valid" style=" min-width: 8em;"
                (click)="verifyUser()">Login
            </button>
        </p>
    </form>
</div>